.nav-menu{
    padding-left: 20px;
    top: 0;
    position: fixed;
    background-color: #e8e8e8;
    width: 100%;
}

.nav-menu-list{
    background-color: #000;
    display: flex;
    flex-direction: column;
    list-style-type: none;
}

.nav-menu-items > .nav-link{
    color: #fff;
}